@import "../../styles/variables.module.scss";

// ------------------------- DESKTOP ------------------------------

.aboutContainer {
    height: 80vh;
    display: flex;
    position: relative;
}

.aboutColPhoto {
    width: 55vw;
    display: flex;
    align-items: end;
    justify-content: center;
    display: relative;
}

.photo {
    width: 25vw;
    padding-left: 10vw;
}

.aboutInfoCol {
    width: 45vw;
    display: flex;
    justify-content: left;
}

.aboutInfoContainer {
    width: 60%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.aboutTextTitle {
    color: $off-black;
    font-size: 2vw;
    font-weight: 500;
}

.aboutTextDescription {
    color: $off-black;
    font-size: 1.2vw;
}

.nameText {
    position: absolute;
    color: $off-black;
    font-size: 5.3vw;
    font-weight: 500;
    text-wrap: nowrap;
    left: 3vw;
    bottom: 18vw;
}

.linkIconsContainer {
    position: absolute;
    display: flex;
    bottom: 8vw;
    left: 3vw;
    gap: 2vw;
}

.linkIcon {
    font-size: 3vw;
    color: $off-black;
}

.linkIcon {
    font-size: 3vw;
    color: $off-black;
    transition: color 0.2s ease;
}

.linkedInIcon:hover {
    color: $linkedin-blue;
}

.githubIcon:hover {
    color: $github-purple;
}

// ------------------------- MOBILE ------------------------------

.aboutContainerMobile {
    height: 60vh;
    display: flex;
    position: relative;
    justify-content: end;
}

.aboutPhotoContainerMobile {
    width: 80vw;
    display: flex;
    align-items: end;
    justify-content: center;
    display: relative;
}

.photoMobile {
    width: 65vw;
    padding-left: 10vw;
}

.nameTextMobile {
    position: absolute;
    color: $off-black;
    font-size: 10vw;
    font-weight: 500;
    text-wrap: nowrap;
    left: 7vw;
    top: 5vw;
}

.aboutInfoContainerMobile {
    position: absolute;
    width: 40%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    left: 7vw;
    top: 40vw;
}

.aboutTextTitleMobile {
    color: $off-black;
    font-size: 4vw;
    font-weight: 500;
}

.aboutTextDescriptionMobile {
    color: $off-black;
    font-size: 3vw;
}

.linkIconsContainerMobile {
    position: absolute;
    display: flex;
    bottom: 20vw;
    left: 6vw;
    gap: 2vw;
}

.linkIconMobile {
    font-size: 10vw;
    color: $off-black;
}