.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.section {
    padding: 1vw 3vw;
    background: #1e1e1e;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-size: 2vw;
}