// Spacing
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 4rem;

// Font
$font-family: "Lora", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 16px;

// Color
$white: #FFF;
$off-white: #e8e2d8;
$black: #000;
$off-black: #212421;

$forest-green: #364b32;
$earthy-brown: #967148;
$earthy-orange: #965c3d;
$earthy-red: #4c2d2c;

$github-purple: #78359e;
$linkedin-blue: #2673b3;
