@import "../../styles/variables.module.scss";
@import "../../styles/components.module.scss";

.experienceSection {
    @extend .section;
    background-color: $forest-green;
    height: fit-content;
}

.experiencesContainer {
    display: flex;
    flex-direction: column;
}

.experiencesContainer div:nth-child(even) {
    align-self: flex-end;
}

.experienceBoxLineContainer {
    display: flex;
    align-items: flex-end;

    .experienceBoxContainer {
        display: flex;
        width: 20vw;
        height: 11vw;
        border: 5px $earthy-brown dashed;
        border-radius: 4vw;
        padding: 1vw;
        margin: 1vw;
        flex-direction: column;
        cursor: pointer;

        .experienceBoxDates {
            font-size: 1.2vw;
            margin: 0;
            padding: .5vw;
        }
        
        .experienceBoxImageTitle {
            gap: 1vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .experienceBoxImage {
                height: 8vw;
                object-fit: cover;
                max-width: 35%;
                max-height: 8vw;
                height: auto;
            }
            .experienceBoxTitle {
                font-size: 1.5vw;
                max-width: 40%;
            }
        }
    
        
        
    }

    .connectingLine {
        border-top: 5px $earthy-brown dashed;
        width: 59vw;
        height: 7vw;
    }
    
    .connectingLineLeft {
        @extend .connectingLine;
        border-left: 5px $earthy-brown dashed;
        border-top-left-radius: 4vw;
    }
    
    .connectingLineRight {
        @extend .connectingLine;
        border-right: 5px $earthy-brown dashed;
        border-top-right-radius: 4vw;
    }
}

.maskContainer {
    position: relative;
    overflow: hidden;
}

.maskOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $forest-green;
    z-index: 10;
}