@import "../../../styles/variables.module.scss";

// ------------------------- DESKTOP ------------------------------

.experienceBoxLineContainer {
    display: flex;
    align-items: flex-end;

    .experienceBoxContainer {
        display: flex;
        width: 20vw;
        height: 11vw;
        border: 5px $earthy-brown dashed;
        border-radius: 4vw;
        padding: 1vw;
        margin: 1vw;
        flex-direction: column;
        cursor: pointer;

        .experienceBoxDates {
            font-size: 1.2vw;
            margin: 0;
            padding: .5vw;
        }
        
        .experienceBoxImageTitle {
            gap: 1vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .experienceBoxImage {
                height: 8vw;
                object-fit: cover;
                max-width: 35%;
                max-height: 8vw;
                height: auto;
            }
            .experienceBoxTitle {
                font-size: 1.5vw;
                max-width: 40%;
            }
        } 
    }
}

// ------------------------- MOBILE ------------------------------

.experienceBoxLineContainerMobile {
    display: flex;
    align-items: flex-end;

    .experienceBoxContainerMobile {
        display: flex;
        width: 80vw;
        height: 40vw;
        border: 5px $earthy-brown dashed;
        border-radius: 4vw;
        padding: 1vw;
        margin: 1vw;
        flex-direction: column;
        cursor: pointer;

        .experienceBoxDatesMobile {
            font-size: 4vw;
            margin: 0;
            padding: .5vw;
        }
        
        .experienceBoxImageTitleMobile {
            gap: 1vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .experienceBoxImageMobile {
                height: 25vw;
                object-fit: cover;
                max-width: 35%;
                max-height: 25vw;
                height: auto;
            }
            .experienceBoxTitleMobile {
                font-size: 6vw;
                max-width: 40%;
            }
        }       
    }
}