@import "../../styles/variables.module.scss";
@import "../../styles/components.module.scss";

.skillsSection {
    @extend .section;
    background-color: $earthy-red;
    height: fit-content;
    align-items: center;
}

// ------------------------- DESKTOP ------------------------------

.skillsContainer {
    display: flex;
    gap: 3vw;
    width: 74vw;
    flex-wrap: wrap;
    padding-bottom: 2vw;
}

// ------------------------- MOBILE ------------------------------

.skillsContainerMobile {
    display: flex;
    gap: 6vw;
    width: 82vw;
    flex-wrap: wrap;
    padding-bottom: 6vw;
}
