@import "./styles/variables.module.scss";

body {
  margin: 0;
  font-family: $font-family;
  color: $off-white;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url('../src/images/nature.gif') center center / cover no-repeat;
  z-index: -1;
}