@import "../../styles/variables.module.scss";
@import "../../styles/components.module.scss";

.portfolioSection {
    @extend .section;
    background-color: $earthy-grey;
    height: fit-content;
    align-items: center;
    padding-bottom: 8vw;
}

// ------------------------- DESKTOP ------------------------------

.portfolioContainer {
    padding-top: 8vw;
    display: flex;
    gap: 15vw;
    width: 72vw;
    flex-wrap: wrap;
    padding-bottom: 1vw;
}

// ------------------------- MOBILE ------------------------------

.portfolioContainerMobile {
    padding-top: 8vw;
    display: flex;
    gap: 30vw;
    width: 40vw;
    flex-wrap: wrap;
    padding-bottom: 15vw;
}
